

div {
    /* Zauważ że ten plik "style.css" znajduje się w folderze /styles 
        Aby zaimportować plik z innego folderu trzeba najpierw wyjść z obecnego, czyli "../" a później nazwa folderu w którym się znajduje
    */
    background-image: url("../assets/tlo_gora.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
   
}

body{
    background-image: url('../assets/tlo_gora.jpg');
}

#navigation_right_bar{
    text-align:right;
    margin-top: 25px;
    margin-right: 25px;
    word-spacing: 30px;
}

#nawigacja1{
    background-image: url("../assets/tlo_gora.jpg");
}