body {
    /* domyślny kolor czcionki na stronie możemy sobie zdefiniować np. w body */
    color: #222;
}

#first_segment {
    margin:auto;
    background-image: url("../assets/tlo_gora.jpg");
    background-repeat: repeat;
    background-attachment: fixed;
    height: 600px;
    background-size: 100% 100%;
}
#first_segment .overlay {
    background: rgba(0,0,0, 0.3);
    height: 100%;
}

nav{
    padding: 20px 20px;
}

.top-bar {
    padding: 20px 20px;
    margin: 0;
}
#logo img {
    width: 70px;
}
.top-bar ul {
    display: block;
}
.top-bar ul li {
    display: inline-block;
    list-style: none;
}
.top-bar ul li a {
    color: #fff;
    text-decoration: none;
    display: block; 
    padding: 8px;
    transition: .3s all ease;
}
.top-bar ul li a:hover {
    color: #000;
}
.top-bar .btn {
    background: #fff;
    color: #000;
    padding: 8px 16px;
}
.top-bar .btn:hover {
    background: #000;
    color: #fff;
}


#logo_img{
    text-align:left;
    margin-top: auto;
    margin-left: auto;
    margin-right:auto;
    margin-bottom: auto; 
}

#search{
    text-align:center;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    align-self: center;
    flex-direction: column;
}

#search_bar{
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    width: 500px;
    height: 20px;
    flex-direction: column;
    font-size: 10px;
    text-align: center;
    color: black;
    border-style: solid;
    background-color: white;
    border-width: 2px;
    border-color: black;
    border-radius: 5px;
}



/* po co powielać i tworzyć pełno klas jak można jedną? i tylko jakieś extra sekcje dodawać jak ta numer dwa 
.segment3 { */
.container {
    text-align: center;
    margin: 40px auto; /* tak jest zwięźlej i lepiej wizualnie :D */
}

.segment2 {
    margin-top: -115px; /* wziąłem połowę wysokości tego boxa, wygląda lepiej :D */
    margin-bottom: 70px;
    z-index: 40;
    /* width: 1000px;    mamy nasz problem z szerokością, ustawiłaś na sztywno szerokość, staraj się tak nigdy nie robić, jest coś takiego jak max-width które może ograniczyć box do szerokości ale na mniejszych urządzeniach będzie się zwijał
    a no i ustawiłem na tyle ile jest w projekcie */
    max-width: 1230px;
    background-color: white;
    /* border-style: solid;
    border-width: 2px;
    border-color: white; 

    zobacz 3 linijki w jednej:

    border: 2px solid white; 

    swoją drogą po co Ci ten border? bo zaokrąglenie rogów wystarczy właśnie tylko ta linijka poniżej */
    border-radius: 20px;
   
    position: relative;
    overflow: hidden;
}

.segment2 .row {
    padding: 30px;
}

.btn-activity {
    background-color: #f4f4f4;
    /* tutaj wyjątkowo ustawiłem na sztywno wysokość i szerokość elementów natomiast one same będą się układać względem szerokości, później na telefonach powinna zajść inna akcja ale do tego dojdziemy jak skończymy wersję DESKTOP */
    height: 150px;
    width: 170px;
    display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
    text-decoration: none;
    color: #335bd7;
    transition: .3s all ease;
    border-radius: 10px;
    margin: 10px;
}

/* style do ikonki */
.btn-activity i {
    font-size: 40px;
    margin-bottom: 10px;
}
.btn-activity span {
    color: #222;
    font-weight: bold;
    font-size: 14px;
    transition: .3s all ease;
}
.btn-activity:hover {
    background: #335bd7;
    color: #fff;
}
.btn-activity:hover span {
    color: #fff;
}

.activity-card {
    /* width: 300px;
    height: 230px; 
    staraj się unikać definiowania na sztywno takich wartości, jeżeli chcesz aby strona była responsywna czyli skalowalna w zależności od szerokości ekranu
    */
    border-radius: 6px;
	padding: 10px;
	border: 1px solid #ddd;
}
.activity-card img {
    /* niech obraz dopasuje się do szerokości naszej kolumny która będzie się zmieniać w zależności od szerokości ekranu */
    width: 100%; 
}
.activity-img {
    /* ustawiamy żeby ten element był RELATIVE */
    position: relative;
}
.activity-img .overlay {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0,0,0, 0.2);
    padding: 15px;
    text-align: left;
}
.activity-img .tag {
    display: inline-block;
    border: 1px solid #fff;
    border-radius: 8px;
    color: #fff;
    padding: 5px 10px;
    margin: 5px;
}
.activity-img .tag.right-side {
    float: right; /* tutaj ustawiamy ten element do prawej */
    /* Trzymajmy się kolorków z tej makiety :D */
    background-color: #ed4948;
    border-color: #ed4948;
}

.activity-text {
    text-align: left;
    padding-top: 10px;
}
.activity-text h3 {
    font-size: 20px;
}
.activity-text p {
    font-size: 14px;
    margin-bottom: 10px;
}
.address-info a {
    display: inline-block;
    margin-right: 5px;
    color: #222;
    text-decoration:none;
}
.address-info a:hover {
    color: #335bd7;
}

.city-card {
    /* width: 300px;
    height: 230px; 
    staraj się unikać definiowania na sztywno takich wartości, jeżeli chcesz aby strona była responsywna czyli skalowalna w zależności od szerokości ekranu
    */
    
	padding: 10px;
    margin-top: 10px;
}

.city-card img {
    /* niech obraz dopasuje się do szerokości naszej kolumny która będzie się zmieniać w zależności od szerokości ekranu */
    width: 100%;
    height: 100%;
    border-radius: 18px; 
   
    
}

